*{
    font-family: Roboto;
    /* border: 1px solid red; */
}

body{
    margin: 0;
}

.mainContainer{
    display: grid;
    grid-template: 1fr 4fr / 1fr 7fr;
}
.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar{
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(77, 150, 245);
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content:start;
    display: flex;
    flex-direction: column;
    gap: 45px;
    flex-wrap: nowrap;
}
h2{
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
    align-items: center;
    padding-left: 0px;
    width: 90%;
    align-items: center;
}
li{
    /* margin-left: 10%; */
    width: 100%;
    margin-bottom: 10px;
}
li img{
    margin-right: 10%;
}

.header{
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 0.5fr 0.5fr / 3fr 1fr;
    padding: 15px 15px 10px 15px;
}
input{
    height: 25px;
    width: 90%;
    border-radius: 15px;
    padding-left: 5px;
}
.first_first{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
}
.first_second{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* height: 100px; */
}
.second_first{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
    padding-left: 10%;
}
.second_second{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
button{
    background-color: rgb(87, 126, 255);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 3px;
    height: 25px;
    width: 55px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}
.greetings{
    display: flex;
    flex-direction: column;
    margin: 0px;
    justify-content: center;
}
.greetings h4,.greetings h2,.first_second h3{
    margin: 0px;
}

.content{
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    background-color: rgb(177, 177, 177);
    padding: 15px;
}
.projects{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,40%));
    justify-content: center;
    gap: 45px;
}
.card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    border-left: 8px solid orange;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}
.icons{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}
.rightStuff{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}
.text h4,.text h5{
    margin: 0px;
}
.annoucementsText{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    gap: 15px;
}
.text h4,.text h5{
    margin-bottom: 10px;
}
.annoucementsText .text:not(:last-child){
    border-bottom: 1px solid rgba(128, 128, 128, 0.55);
}
.trendingText{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    gap: 15px;
}
.trenText{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.text{
    display: flex;
    flex-direction: column;
}
.trenText .text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
    gap: 20px;
}
.trenText .text h4{
    margin: 0px;
}
.trenText h5{
    margin: 0px;
    justify-content: end;
    margin-left: 50%;
    margin-bottom: 15px;
}

.trenText:not(:last-child){
    /* border-spacing: 5px; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.55);
}
